*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
    background: #EEEEEE;
}

.header__div{
    width: 33.33%;
}

.header__div1{
    display: flex;
    gap: 2rem;
}

.header__link{
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.header__link:hover{
    text-decoration: underline;
}

.header__div2{
    display: flex;
    justify-content: space-around;
}

.header__title{
    font-size: 4rem;
}

.header__div3{
    display: flex;
    justify-content: flex-end;
}

.main{
    padding: 2rem;
}

.main__animation{
    height: 50rem;
}

.footer{
    padding: 2rem;
}