*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #041838;
    color: #eddfbb;
}

.main__animation {
    height: 50rem;
    background: linear-gradient(to top, #b3daff, #e6f7ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation {
    max-width: 100%;
    max-height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.header__div {
    width: 33.33%;
}

.header__div1 {
    display: flex;
    gap: 2rem;
}

.header__link {
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    text-decoration: none;
    color: #eddfbb;
    font-weight: 600;
}

.header__link:hover {
    text-decoration: underline;
}

.header__div2 {
    display: flex;
    justify-content: space-around;
}

.header__title {
    font-size: 4rem;
}

.header__div3 {
    display: flex;
    justify-content: flex-end;
}

.footer {
    padding: 2rem;
}